/*Lo hacemos para quitar los margin y padding por defecto*/
* {
    margin: 0;
    padding: 0;
    font-size: 17px;

}





/* HEADER*/

header {
    background-color: #1e5b78;



    /*max-width: 71rem;*/
}

header nav:first-child {
    padding-left: 2rem;
}

header .nav-link:hover {
    transform: scale(1.3);

}

header .nav-item .active {
    transform: scale(1.3);
    font-weight: bolder;


}

.userName {
    font-weight: 300;
    color: #fff;
}





.menu-profile {

    margin-left: 8.9vw;
}


/*SIDEBAR*/

.sideBarMenu {

    top: 0;

    bottom: 0;
    /* rtl:remove */
    left: 0;
    background-color: rgb(255, 255, 255);
    /* Behind the navbar */
    padding: 3rem 0 0;
    /* Height of navbar */
    overflow: hidden;

    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .2);


}






.sideBarMenu ul li:last-child {
    margin-top: 10rem;
}

.nav-link {
    color: #1e5b78;
    font-weight: 300;
}


.title-main {
    font-weight: bold;
    color: #333333da;
}

.sideBarMenu .nav-item .bi {
    fill: #1e5b78;
}


.sideBarMenu .nav-link:hover {
    transform: scale(1.1);
    color: #1e5b78;
    box-shadow: var(--bs-box-shadow) !important;
}



.sideBarMenu .nav-item .active {
    font-weight: bold;
    background-color: #1e5b78;
    color: #fff;

}





.sideBarMenu .nav-item:hover .bi {}

.sideBarMenu .nav-item .active .bi {
    fill: #fff;
}


main {
    min-height: calc(68.3vh);
}

main>div:first-child {}

/* CONFIGURACIONES */

/*.btn {
    background-color: #1e5b78;
}*/

/*******************/


/* DESCUENTOS */

.descuentos .card {
    box-shadow: var(--bs-box-shadow) !important;
    background-color: #333333;
}

.card-body {

    text-align: center;

}

/*******************/


/* PAGOS */

thead th {
    background-color: #1e5b78 !important;
    color: #fff !important;
}

/*******************/


/*Mi CUENTA*/



.star {
    font-size: 2rem;
    color: #d3d3d3;
    cursor: pointer;
    transition: color 0.3s;
}

.star:hover,
.star:hover~.star {
    color: #ffa500;
}

.star.selected,
.star.selected~.star {
    color: #ffa500;
}

.card img {
    border-radius: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .2);
    height: max-content;
}

.dataSensible p {
    box-shadow: var(--bs-box-shadow) !important;
    border-radius: 3%;
    margin: 0%;
    background-color: whitesmoke;
    padding: 10px;
}

.dataSensible p small {
    color: #1e5b78;



}

.fija {
    opacity: 1;

    transform: scale(1.2);

}

.nofija {
    display: none !important;
    transform: scale(1.3);
    opacity: 0;
    transition: opacity 0.5s ease;

}




/*************************/


/**********SEVICIOS****************/

.servicesGroup .card .card-header {
    background-color: #1e5b78;
    color: #fff;

}

.servicesCard .card {
    width: 32vw;
    max-width: 90vw;
    max-height: 50vh;
}

.servicesGroup .btNewService svg:last-child {
    position: relative;
    top: -0.5rem;
    left: -0.5rem;
}

.servicesGroup .card-text li,
.servicesGroup .descriptionService {

    font-size: smaller;
    font-style: italic;
    font-weight: 450;
    text-align: start;

}

.card-text ul {
    list-style-position: inside;
}

.modal-body label {
    margin-right: 5vw;
}

.modal label {
    margin-left: 1vw;
}

.servicesGroup hr {
    position: relative;
}

.seeMore {
    position: relative;
}

.btnSeeMore {
    position: absolute;
    padding: 0;
    margin: 0;
    top: -0.9rem;
    right: auto;
    background-color: #fff;
    border: none;

}

.btnSeeMore svg {
    fill: #1e5b78;
}


/*******My account*******/

.containerBabysits .card-text {
    font-size: 0.8em;
    height: 10.3vh;
    overflow: hidden;

}

.containerBabysits .dataSensible small {
    font-size: 0.6em;
}

.containerBabysits .saveUser:hover {
    stroke: red;
    stroke-width: 2rem;

}



.containerBabysits .numServices {
    font-size: 0.6em;
}

.containerBabysits .rating .star {
    font-size: x-small;

}

.containerBabysits .card-title {
    font-size: 0.9em;

}

/*****FindBabysister*************/

.babysitGroup .card:hover {
    transform: scale(1.1);
    cursor: pointer;

}

.babysitGroup .modal-footer button:last-child {
    background-color: #1e5b78;
    color: #fff;
}


/**********************************/

/*************FAVORITES**********/
.favorite .saveUser {
    fill: red;
}

/**********************************/


/*****INDEX******/
.index .search .card-header {
    background-color: #1e5b78;
    color: #fff;
}


.index .input-group {
    position: relative;
}

.index .input-group input:focus {
    z-index: 1;
}

.index .input-group button {
    position: absolute;
    left: 22vw;
}

.index .searchIcon {
    fill: #1e5b78;
    z-index: 100;

}

.index .btn-group a {
    color: #1e5b78;
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
    border-color: #1e5b78 !important;

}

.index .registerButtom a {
    color: #1e5b78;
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
    border-color: #1e5b78 !important;
}




.index .listDetails .title {
    color: #1e5b78;

}

.index .listDetails li {
    font-weight: lighter;
    border-color: #1e5b78;

}

.index .listDetails ul {

    border-color: #1e5b78;
}

/*************/


/*********Registro*****************/
.submit {
    color: #1e5b78;
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
    border-color: #1e5b78 !important;

}

.register .form-floating label {
    margin-left: 6px;
}

/*************/

/********WorkwithUs********/


/****************/


/*******Aboutus*****/
.subtitle {
    color: #333333;
}

/******************/


footer {
    background-color: #1e5b78;

}